@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
 <h1 class="display-4">Hello.</h1>
 @* <h4 style="border-color: blue; border-style: double;">How are you today?</h4> *@
 <p>Learn about <a href="http://www.revature.com">Revature</a>!</p>
</div>
